/*
body{
    background-color: rgb(208, 229, 238);
    display: flex;
    width: 50%;
    font-size: 20pt;
    color: white;
    justify-content: space-between left;
    align-items: left;
    padding: 10px;

    border: rgb(255, 0, 0);
}
*/

.container{
    display: flex;
}

#column{
    padding: 40px;
    width: 50%;
}

#column header{
    display: flex;
    font-size: 14pt;
    justify-content: center;
}

#column select{
    display: flex;
    font-size: 14pt;
    justify-content: center;
}

#column p{
    display: block;
    justify-content: left;
}

#ul button{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5px;
    /*border-width: 5px;
    border-color: green;*/
}